@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Witaj, @UserManager.GetUserAsync(User).Result?.FullName! <i class="bi bi-list"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-controller="Order" asp-action="OrderHistory">Historia zakupów</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Zmień hasło</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                
                <button type="submit" class="nav-link text-dark btn btn-link">Wyloguj</button>
            </form>
        </li>
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Zarejestruj</a>
        </li>
    }
</ul>