@model Projekt.Models.ViewModels.ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałem hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zapomniałem hasła</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Wyślij kod</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}