@model Projekt.Models.ViewModels.ResetPasswordModel
@{
    ViewData["Title"] = "Resetowanie hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Resetowanie hasła</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Zresetuj hasło</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}