@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <div class="hero-content text-center">
        <h1 class="hero-title">Witaj na mojej stronie!</h1>
        <p class="hero-subtitle">Tutaj możesz złożyć swoje zamówienie</p>
        <a asp-controller="Shop" asp-action="Index" class="btn btn-primary btn-lg">Przegląd Produktów</a>

    </div>
</div>