@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center py-5">
    <div class="container">
        <h1 class="display-4">Witaj na naszej stronie!</h1>
        <p class="lead">Tutaj możesz złożyć swoje zamówienie</p>
        <a asp-controller="Shop" asp-action="Index" class="btn btn-success btn-lg">Przegląd Produktów</a>
    </div>
</div>
